# Flake8 specific configuration.

[flake8]

# a list of codes to ignore
ignore =
    W503   # line break before binary operator

per-file-ignores =
    __init__.py:F401

max-line-length = 99

# Max McCabe complexity
max-complexity = 6
