# Flake8 specific configuration.

[flake8]

# a list of codes to ignore
ignore =
    W503   # line break before binary operator

# F401: 'foo' imported but unused
per-file-ignores =
    __init__.py:F401

max-line-length = 88

# Max McCabe complexity
max-complexity = 8
